@font-face {
  font-family: "CaviarDreams";
  src: url("../fonts/CaviarDreams.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "CaviarDreams";
  src: url("../fonts/CaviarDreams_Bold.ttf");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: CaviarDreams;
  color: #353b48;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex: 1;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: #353b48;
}

a:hover {
  color: #0a3067;
}
